<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-sous-famille-heading"
        data-cy="SousFamilleCreateUpdateHeading"
        jhiTranslate="jHipsterExerciseApp.sousFamille.home.createOrEditLabel"
      >
        Create or edit a Sous Famille
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jHipsterExerciseApp.sousFamille.iDSousFamille" for="field_iDSousFamille"
            >I D Sous Famille</label
          >
          <input
            type="number"
            class="form-control"
            name="iDSousFamille"
            id="field_iDSousFamille"
            data-cy="iDSousFamille"
            formControlName="iDSousFamille"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jHipsterExerciseApp.sousFamille.sousFamille" for="field_sousFamille"
            >Sous Famille</label
          >
          <input
            type="text"
            class="form-control"
            name="sousFamille"
            id="field_sousFamille"
            data-cy="sousFamille"
            formControlName="sousFamille"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
