<div>
  <h2 id="page-heading" data-cy="CaracteristiqueHeading">
    <span jhiTranslate="jHipsterExerciseApp.caracteristique.home.title">Caracteristiques</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jHipsterExerciseApp.caracteristique.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-caracteristique"
        [routerLink]="['/caracteristique/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jHipsterExerciseApp.caracteristique.home.createLabel"> Create a new Caracteristique </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="caracteristiques?.length === 0">
    <span jhiTranslate="jHipsterExerciseApp.caracteristique.home.notFound">No caracteristiques found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="caracteristiques && caracteristiques.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jHipsterExerciseApp.caracteristique.iDCaracteristique">I D Caracteristique</span></th>
          <th scope="col"><span jhiTranslate="jHipsterExerciseApp.caracteristique.marque">Marque</span></th>
          <th scope="col"><span jhiTranslate="jHipsterExerciseApp.caracteristique.modele">Modele</span></th>
          <th scope="col"><span jhiTranslate="jHipsterExerciseApp.caracteristique.taille">Taille</span></th>
          <th scope="col"><span jhiTranslate="jHipsterExerciseApp.caracteristique.couleur">Couleur</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let caracteristique of caracteristiques; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/caracteristique', caracteristique.id, 'view']">{{ caracteristique.id }}</a>
          </td>
          <td>{{ caracteristique.iDCaracteristique }}</td>
          <td>{{ caracteristique.marque }}</td>
          <td>{{ caracteristique.modele }}</td>
          <td>{{ caracteristique.taille }}</td>
          <td>{{ caracteristique.couleur }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/caracteristique', caracteristique.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/caracteristique', caracteristique.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(caracteristique)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
