<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="connexion">
      <h2 data-cy="connexionDetailsHeading"><span jhiTranslate="jHipsterExerciseApp.connexion.detail.title">Connexion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ connexion.id }}</span>
        </dd>
        <dt><span jhiTranslate="jHipsterExerciseApp.connexion.iDConnexion">I D Connexion</span></dt>
        <dd>
          <span>{{ connexion.iDConnexion }}</span>
        </dd>
        <dt><span jhiTranslate="jHipsterExerciseApp.connexion.username">Username</span></dt>
        <dd>
          <span>{{ connexion.username }}</span>
        </dd>
        <dt><span jhiTranslate="jHipsterExerciseApp.connexion.password">Password</span></dt>
        <dd>
          <span>{{ connexion.password }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/connexion', connexion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
