<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="famille">
      <h2 data-cy="familleDetailsHeading"><span jhiTranslate="jHipsterExerciseApp.famille.detail.title">Famille</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ famille.id }}</span>
        </dd>
        <dt><span jhiTranslate="jHipsterExerciseApp.famille.iDFamille">I D Famille</span></dt>
        <dd>
          <span>{{ famille.iDFamille }}</span>
        </dd>
        <dt><span jhiTranslate="jHipsterExerciseApp.famille.famille">Famille</span></dt>
        <dd>
          <span>{{ famille.famille }}</span>
        </dd>
        <dt><span jhiTranslate="jHipsterExerciseApp.famille.sousFamille">Sous Famille</span></dt>
        <dd>
          <div *ngIf="famille.sousFamille">
            <a [routerLink]="['/sous-famille', famille.sousFamille?.id, 'view']">{{ famille.sousFamille?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/famille', famille.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
